*{
    margin: auto;
}

main{
    display: grid;
    grid-template-areas: "h h h"
                        "n n n"
                        "as ar ar"
                        "f f f";
}

header{
    grid-area: h;
}

nav{
    grid-area: n;
}

aside{
    grid-area: as;
}

article{
    grid-area: ar;
}

footer{
    grid-area: f;
}

nav li{
    display: inline-block;
    list-style-type: none;
    
}

nav a{
    text-decoration: none;
    color: lavenderblush;
}

.fajl_kivalaszt{
    border: 1px dashed rgb(28, 49, 136);
    width: 400px;
    height: 500px;
   
}

header, aside, nav, footer{
    background-color: rgb(98, 203, 230);
    color: lavenderblush;
    width: 100%;
    text-align: center;
}

aside{
    margin-top: 0;
    margin-bottom: 0;
}

article{
    color: rgb(0, 162, 255);
}