*{
    margin: auto;
}

main{
    display: grid;
    grid-template-areas: "h h h"
                        "n n n"
                        "as ar ar"
                        "f f f";
}

header{
    grid-area: h;
}

nav{
    grid-area: n;
}

aside{
    grid-area: as;
}

article{
    grid-area: ar;
}

footer{
    grid-area: f;
}

nav li{
    display: inline-block;
    list-style-type: none;
    
}

nav a{
    text-decoration: none;
    color: black;
}